@font-face {
  font-family: 'Montserrat-Medium';
  src: local('Montserrat-Medium'), url(../../fonts/Montserrat/Montserrat-Medium.ttf) format('truetype');
}

body {
  margin:0;
  font-family: "Montserrat-Medium", "Arial", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  margin-left: 90px;
}

li {
  float: left;
  padding: 15px;
}

.links, .dropbtn {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 5px solid transparent;
  font-size: 14px;
}

li a .dropdownlinks{
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 5px solid transparent;
  font-size: 22px;
}

li a .dropdownlinks:hover {
  background-color: rgb(255, 254, 254);
}

.links:hover, .dropdown:hover .dropbtn {
  background-color: rgb(255, 254, 254);
  border-bottom: 5px solid #74B185;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.image1 {
  height: 100%;
  padding: 30px;
  width: 200px;
  opacity: 1;
  margin-left: 90px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
}

.conteiner33 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
  padding: 80px 160px;
}

.image22 {
  height: 300px;
  width: 600px; 
  padding: 30px;
  margin-top: -110px;
  opacity: 1;
}

h2 {
  font-size: 30px;
  color: black;
}

h3 {
  font-size: 20px;
  color: black;
}

p {
  color: rgb(145, 145, 145);
  text-align: justify; 
}


h4 {
  color: black;
}

.green-color:visited {
color: #74B185;
}
